body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
}

.add-todo-input,
.edit-todo-input {
    outline: none;
}

.add-todo-input:focus,
.edit-todo-input:focus {
    border: none !important;
    box-shadow: none !important;
}

.view-opt-label,
.date-label {
    font-size: 0.8rem;
}

.edit-todo-input {
    font-size: 1.7rem !important;
}

.todo-actions {
    visibility: hidden !important;
}

.todo-item h2.icon-checkbox input[type="checkbox"] + label {
    display: flex;
    align-items:center;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

.todo-item h2.icon-checkbox input[type="checkbox"] {
    display: none;
}

.todo-item h2.icon-checkbox input[type="checkbox"] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    vertical-align: bottom;
    color: transparent;
    transition: 0.2s;
}

.todo-item h2.icon-checkbox input[type="checkbox"] + label:active:before {
    transform: scale(0);
}

.todo-item h2.icon-checkbox input[type="checkbox"]:checked + label {
    color: MediumSeaGreen;
    opacity: .5;
    text-decoration: line-through;
}

.todo-item h2.icon-checkbox input[type="checkbox"]:checked + label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
    text-decoration: none;
}

/* .todo-item h2.icon-checkbox input[type="checkbox"]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
}

.todo-item h2.icon-checkbox input[type="checkbox"]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
} */

.todo-item:hover .todo-actions {
    visibility: visible !important;
}

.todo-item:hover .todo-actions i.fa{
    cursor: pointer;
}

.todo-item.editing .todo-actions .edit-icon {
    display: none !important;
}

.todo-item.editing .form-control {
    background-color: #e9ecef !important;
}

.todo-item h2.input-edit {
    display: none;
}

.todo-item.editing h2.input-edit {
    display: block;
}

.todo-item.editing h2.icon-checkbox {
    display: none;
}

